.skewed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background: #0052cc; 
  transform: skewY(-5deg);
  transform-origin: top left;
  z-index: 0;
  border-bottom: 2px solid transparent;
}
